#icon1{
    margin-left: 50%;
    transform: translateX(-50%);
}

#head{
    text-align: center;
}


.main{
    margin-top: 50px;
    padding: 2%;
    padding-left: 10%;
    padding-right: 10%;
    gap: 45px;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;

}